// BW Main
body {
	color: $light;
	font-size: 1rem;
	font-weight: 300;
}

a {
	color: var(--primary);
	position: relative;
	text-decoration: none;
	transition: all .3s ease;
}

a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--primary);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
 }

a:hover:before {
  transform-origin: left;
  transform: scaleX(1);
}

h1, h2, h3, h4, h5 {
	font-weight: 400;
}

.header-link { 
 	&:hover {
		& > .header-logo {
			filter: brightness(0) invert(1);
		}
	}
}

.navbar {
	min-height: 75px;
}

.nav-link:not(a[class*=switch]) {
	min-width: 100px;
}

.nav-link {
	&.active, &:hover, &:focus {
		color: var(--primary) !important;
	}

	&.active:before {
		content: '';
	    position: absolute;
	    width: 100%;
	    height: 2px;
	    border-radius: 2px;
	    background-color: var(--primary);
	    bottom: 0;
	    left: 0;
	    transform-origin: left;
	    transform: scaleX(1);

	    &:hover {
	    	color: rgba(var(--primary), .5) !important;
	    }
	}
}

.nav-item .dropdown-menu {
	min-width: 300px;
}

.menu-icon, .close-icon {
	transition: all .3s ease;	
}

li[class*=switchBtn] {
	width: 50px !important;
}

.colour-switch {
	cursor: pointer; 
}

.colour-switch-input > input {
	height: 1.6rem;
}

.hero-text {
	font-weight: 300;
}

.btn {
	background-color: none !important;
	color: $light !important;

	:hover, :focus, :visited {
		background-color: none !important;
		color: $light !important;
	}
}

.btn-primary:hover {
	color: var(--primary) !important;
}

.btn-outline-primary:hover {
 	color: $light !important;
}

.filter-button-group .btn {
	border-bottom: 1px solid var(--primary);
	border-radius: 0;
	color: var(--primary) !important;
	position: relative;

	&:focus, &:hover, &:active {
		border-color: transparent;
	}

	&:before {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 2px;
	    border-radius: 2px;
	    background-color: var(--primary);
	    bottom: 0;
	    left: 0;
	    transform-origin: right;
	    transform: scaleX(0);
		transition: transform .3s ease-in-out;
	}

	&:hover:before {
	  transform-origin: left;
	  transform: scaleX(1);
	}
}


a[aria-expanded=false] .material-icons {
    transform: rotate(0deg);
    transition: 0.4s;
}

a[aria-expanded=true] .material-icons {
    transform: rotate(-180deg);
    transition: 0.4s;
}

.cv-accordion {
	a {
		border-bottom: 1px solid (var(--primary));
		cursor: pointer;
	}
}

.card {
    --bs-card-border-width: 2px;
    --bs-card-border-radius: 0.375rem;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: $light;
    --bs-card-bg: $dark;
    color: $light !important;
    transition: all .3s ease;

    &:hover:before {
    	content: '';
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	background-color: var(--primary);
    	opacity: .1;
    }
}

.card-body > span {
	text-align: center;
}

.progress {
	background-color: gray !important;
}

p::selection {
	color: $light;
	background-color: var(--primary);
}

.skill-item {
	background-color: var(--primary);
	color: $light;
}

footer {
	.nav {
		min-height: 52px;
	}
}

/* Light & Dark Mode adjustments */

html[data-bs-theme='light'] {

	body {
		color: $dark;
	}	

	.header-link:hover > .header-logo {
		filter: brightness(0);
	}

	.header-logo, .hero-logo {
		filter: brightness(0);
	}

	.cv-accordion {
		.btn {
			&:hover {
				color: $dark !important;
			}
		}
	}

	.card {
		color: $dark !important;
	}

	.menu-icon, .close-icon {
		fill: #000 !important;
	}

	.cv-accordion .btn:hover {
		color: $dark !important;
	}

	.white-primary {
		a {
			color: $dark;

			&:hover {
			  color: $dark !important;
			}
		}

		a:before {
		    background-color: #ccc !important;
		}

		.header-link:hover > .header-logo {
			filter: brightness(0) invert(0);
		}

		.nav-link.active {
			color: $dark !important;
		}

		.filter-button-group .btn {
			color: #ccc !important;

			&:before {
			    background-color: #ccc;
			}
		}

	}

	.black-primary {
		a {
			color: $dark;

			&:hover, &:hover .card-body {
			  color: #2e2e2e !important;
			}
		}

		a.header-link:hover, a.nav-link:hover {
			color: $dark !important;
		}

		.header-link:hover > .header-logo {
			filter: brightness(0) invert(0);
		}

		.nav-link.active {
			color: #2e2e2e !important;

			&:hover {
				color: $dark !important;
			}
		}
	}
}

.white-primary {
	.header-link:hover > .header-logo {
		filter: brightness(0) invert(0);
	}

	p::selection {
		color: $dark;
		background-color: var(--primary);
	}
}

/* Responsive fixes */

@media (max-width: 992px) {
	.header-link {
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	.header-link {
		max-width: 200px;
	}

	.hero-text {
		font-size: 2rem !important;
	}

	.nav-link:not(a[class*=switch]) {
    	min-width: auto;
	}
}

@media (max-width: 540px) {
	.button-group .btn {
		font-size: 12px !important;
		padding: 4px !important;
	}
}

@media (max-width: 420px) {
	ul {
		padding-left: 1rem;
	}
}